@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    
:root {
    --laranja-escuro: #FF8C00;
    --laranja: #FFA500;
    --laranja-medio: #FFB84D;

    --cor-base: #FFD42A;

    --amarelo-claro: #FFE24C;
    --amarelo-suave: #FFD480;
    --amarelo-palido: #FFEDB3;

    --cor-fundo-escuro: #1E1E1E;
    --cor-texto-primeiro-plano: #FFFFFF;
    --destaque-principal: #FFD42A;
    --texto-secundario: #A0A0A0;
    --botao-principal: #4D4D4D;
    --fundo-componentes-escuros: #333333;
    --borda-escura: #777777;

    --background-white: #f5f0f0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--amarelo-palido);
}