@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --laranja-escuro: #FF8C00;
    --laranja: #FFA500;
    --laranja-medio: #FFB84D;

    --cor-base: #FFD42A;

    --amarelo-claro: #FFE24C;
    --amarelo-suave: #FFD480;
    --amarelo-palido: #FFEDB3;


    --cor-fundo-escuro: #1E1E1E;
    --cor-texto-primeiro-plano: #FFFFFF;
    --destaque-principal: #FFD42A;
    --texto-secundario: #A0A0A0;
    --botao-principal: #4D4D4D;
    --fundo-componentes-escuros: #333333;
    --borda-escura: #777777;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--amarelo-palido);
    font-family: 'Roboto', sans-serif;
}

header {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header img {
    padding: 10px;
    height: 100%;
    cursor: pointer;
}

main {
    margin: 5px auto;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 0.25rem;
}


.menu-bar {
    width: 22%;
    max-width: 220px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 53px -4px rgba(0,0,0,0.61);
    background-color: var(--texto-secundario);
}
.foto {
    width: 120px;
    height: 120px;
}
.foto img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.144);
}
.links {
    width: 75%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}

.mb-botao {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: start;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--amarelo-palido);
    background-color: var(--botao-principal);
}
.mb-botao:hover {
    text-decoration: none;
    background-color: var(--amarelo-palido);
    color: var(--borda-escura);
}

.tweets-container {
    width: 56%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.tweet {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 53px -4px rgba(0,0,0,0.61);
}
.t-main {
    width: 100%;
    display: flex;
    align-items: start;
}
.t-conteudo {
    width: 100%;
}
.t-foto {
    padding: 5px;
}
.t-foto img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.t-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}
.t-tweet {
    padding: 10px;
}
.t-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.t-react {
    display: flex;
    gap: 1rem;
}
.react {
    display: flex;
    gap: 0.25rem;
}


.footer-container {
    width: 22%;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 53px -4px rgba(0,0,0,0.61);
    background-color: var(--texto-secundario);
}
.footer-container h1 {
    text-align: center;
    padding: 5px;
    font-size: 24px;
}
.quem-seguir {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.seguir {
    display: flex;
    gap: 0.25rem;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.seguir img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.opc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}
.f-botao {
    padding: 5px;
    border-radius: 15px;
    text-decoration: none;
    color: #333333;
}

.f-botao:hover {
    color: var(--amarelo-palido);
    background-color: var(--borda-escura);
}


/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
    position: relative;
    top: 25%;
    left: 0;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 10px;
    margin: auto;
    width: 30%;
    min-width: 280px;
    border-radius: 8px;
}
.close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    text-align: center;
    background-color: red;
    border-radius: 50%;
}
.modal-body {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}
.modal-body textarea {
    width: 90%;
    height: 75%;
    padding: 5px;
}
.modal-body button {
    border: none;
}
.modal-body button:hover {
    cursor: pointer;
}
/* Fim Modal */


