* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a {text-decoration: none;}
body {background-color: #f0cc005e;}

.container {
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    gap: 0.25rem;
}
.header {
    width: 10%;
    height: 450px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    position: fixed;
    top: 2%;
    left: 19%;
}
.header-img {
    width: 100%;
    padding: 10px;
    text-align: center;
}
.header-img img {
    width: 120px;
    height: 120px;
    background-color: black;
    border-radius: 50%;
    
}
.username-p {
    text-align: center;
}
.header-links {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}
.header-link {
    display: flex;
    padding: 5px;
    gap: 0.5rem;
    border-radius: 8px;
    color: #050101;
    background-color: #ccc;
    display: flex;
    align-items: center;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    border: none;
}
.header-link:hover {
    background-color: rgb(238, 238, 238);
    cursor: pointer;
    box-shadow: 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    transition: box-shadow .08s linear,min-width .15s cubic-bezier(0.4,0,0.2,1);
}

.main {
    width: 40%;
    min-width: 600px;
    background-color: rgb(175, 175, 175);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 0.25rem;
    border-radius: 8px;
}
.add-tweet {
    color: #050101;
    margin: 5px 0;
    width: 98%;
    height: 50px;
    border: 1px solid #707070;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    gap: 0.5rem;
}
.add-tweet:hover {
    background-color: #ccc;
    cursor: pointer;
    box-shadow: 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    transition: box-shadow .08s linear,min-width .15s cubic-bezier(0.4,0,0.2,1); 
}
.add-tweet img {
    height: 70%;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 10px;
    margin: auto;
    width: 30%;
    min-width: 280px;
    border-radius: 8px;
}
.close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    text-align: center;
    background-color: red;
    border-radius: 50%;
}
.modal-body {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}
.modal-body textarea {
    width: 90%;
    height: 75%;
    padding: 5px;
}
.modal-body button {
    border: none;
}
.modal-body button:hover {
    cursor: pointer;
}
/* Fim Modal */

.tweet {
    width: 98%;
    border: 1px solid #707070;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1px;
}
.tweet:hover {
    cursor: pointer;
    box-shadow: 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    transition: box-shadow .08s linear,min-width .15s cubic-bezier(0.4,0,0.2,1); 
    background-color: #ccc;
}
.tweet-section {
    width: 100%;
    display: flex;
}
.tweet-ft-perfil {
    width: 90px;
    height: auto;
    display: flex;
    justify-content: center;
}
.tweet-ft-perfil img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 5px;
}
.tweet-main {
    width: calc(100% - 90px);
    display: flex;
    flex-direction: column;
}
.tweet-header {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tweet-content {
    padding: 5px;
}
.tweet-footer {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.tweet-reacts {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}
.tweet-reacts a {
    display: flex;
    gap: 0.25rem;
    color: black;
}
.tweet-reacts p {
    font-size: 14px;
}


@media screen and (max-width: 1400px) {
    .header {
        min-width: 70px;
        left: 5%;
    }
    .header-img {
        display: none;
    }
    .username-p {
        display: none;
    }
    .header-link {
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .header-link p {
        display: none;
    }
    .tweet-header p {
        font-size: 14px
    }
    .tweet-content p {
        font-size: 14px
    }
    .tweet-footer p {
        font-size: 14px
    }
}

@media screen and (max-width: 990px) {
    .header {
        left: 7%;
    }
    .main {
        width: 60%;
    }
}

@media screen and (max-width: 900px) {
    .container {
        flex-direction: column-reverse;
    }
    .main {
        width: 100%;
        min-width: 280px;
        padding: 0;
    }
    
    .header {
        border-radius: 0;
        background-color: #ccc;
        width: 100%;
        top: calc(100% - 100px);
        left: 0;
        position: fixed;
        flex-direction: row;
        justify-content: center;
        height: 100px;
    }
    .header-links {
        width: 100%;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0;
    }
    .header-link {
        background-color: transparent;
        padding: 15px;
    }
}

@media screen and (max-width: 435px) {
    .main {
        width: 100%;
        min-width: 0;
        top: 0;
        left: 0;
    }
}