.s-login {
    margin: 200px auto;
    width: 250px;
    border-radius: 16px;
    background-color: var(--borda-escura);
    background-image: url('../../assets/logo_black.png');
    background-size: 175px;
    background-position: center;
    box-shadow: 0px 0px 53px -4px rgba(0,0,0,0.61);
}
.s-login h1 {
    padding: 15px 0 5px 20px;
    color: var(--amarelo-suave);
}
.form-login { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 10px;
}
.input-div {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #f5f0f0;
}
.input-email {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #f5f0f0;
}
.input-password {
    width: 85%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #f5f0f0;
}
#input-eye-open {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#input-eye-open:hover {
    color: var(--borda-escura);
}
#input-eye-close {
    width: 15%;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#input-eye-close:hover {
    color: var(--borda-escura);
}
.input-button {
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 53px -4px rgba(0,0,0,0.61);
    font-size: 16px;
    background-color: var(--botao-principal);
    padding: 5px 10px;
    color: var(--amarelo-suave);
}
.input-button:hover {
    background-color: var(--borda-escura);
    cursor: pointer;
}
.s-login-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 16px;
    padding: 0 5px 5px 5px;
}
.s-login-links a {
    color: var(--amarelo-suave);
    text-decoration: none;
}
.s-login-links a:hover {
    color: var(--amarelo-palido);
}

/* INICIO - Modal Erro */
.md-error {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}
.md-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 10px 20px 10px 20px;
    width: 80%;
    max-width: 300px;
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px -4px rgba(0,0,0,0.50);
}
.md-header {
    display: flex;
    align-items: center;
    justify-content: start;
}
.md-main {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
}
.md-m-icon {
    width: 25%;
}
.md-m-icon i {
    font-size: 3rem;
    color: rgb(201, 0, 0);
}
.md-m-text {
    width: 75%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.md-footer {
    width: 100%;
}
.md-footer button {
    width: 20%;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--botao-principal);
    padding: 5px 10px;
    color: var(--amarelo-suave);
}
.md-footer button:hover {
    background-color: var(--borda-escura);
    cursor: pointer;
}
.md-close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.md-close:hover,
.md-close:focus {
    color: #333333;
    text-decoration: none;
    cursor: pointer;
}
/* FIM - Modal Erro */