{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro - bem te vi</title>
    <link rel="stylesheet" href="{% static 'styles/cadastro.css' %}">
</head>
<body>
    <main>
        <h1>Cadastro</h1>
        <div class="foto">
            <a id="img-preview">
                <img src="{% static 'assets/perfil_padrao.jpg' %}" alt="">
            </a>
        </div>

        <form class="inputs" id="formCadastro" enctype="multipart/form-data">
            <input type="text" id="username" name="username" placeholder="username">
            <input type="text" id="nome" name="nome" placeholder="nome">
            <input type="text" id="sobrenome" name="sobrenome" placeholder="sobrenome">
            <input type="text" id="email" name="email" placeholder="email"> 
            <input type="text" id="senha" name="senha" placeholder="senha"> 
            <input type="text" id="senha2" name="senha2" placeholder="repita sua senha"> 
            <input type="file" id="foto_perfil" name="foto_perfil">
            <button class="button" type="button" onclick="cadastraUsuario()">Se cadastrar</button>
        </form>
        <a class="voltar-button" href="{% url 'login' %}">voltar</a>
        
    </main>

    <script src="{% static 'scripts/cadastro.js' %}"></script>
</body>
</html>