{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bem te vi - home</title>
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" type="imagex/png" href="{% static 'assets/logo.png' %}">
</head>
<body>
    <header>
        <img src="{% static 'assets/logo.png' %}" alt="bem te vi" onclick="openModal()">
    </header>

    <main>
        <div class="menu-bar">

            <div class="foto">
                <img src="{{ data.foto.url }}" alt="foto perfil">
            </div>
            <h3>@{{ data.username }}</h3>
            <ul class="links">

                <a class="mb-botao" href="{% url 'perfil' data.username %}">
                    <i class="fa-solid fa-user"></i>
                    <li>Perfil</li>
                </a>

                <!-- <a class="mb-botao" href="#">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <li>Descubra</li>
                </a> -->

                <a class="mb-botao" href="{% url 'logout' %}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <li>Sair</li>
                </a>
            </ul>

        </div>

        <div class="tweets-container">

            {% if tweets %}
                {% for t in tweets %}
                <div class="tweet">
                    <div class="t-main">    
                        <div class="t-foto">
                            <img src="{{ t.tweet.usuario.foto_perfil.url }}" alt="">
                        </div>
                        <div class="t-conteudo">
                            <div class="t-header">
                                <a href="{% url 'perfil' t.tweet.user.username %}">@{{ t.tweet.user.username }}</a>
                                <p>{{ t.tweet.data|date:"d/m/Y" }}</p>
                            </div>
                            <div class="t-tweet">
                                <p>{{ t.tweet.tweet }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="t-footer">
                        <div class="t-react">
                            <div class="react">
                                {% if t.tweet.get_total_likes > 0 %}
                                    <p>{{ t.tweet.get_total_likes }}</p>
                                {% endif %}
                                <a style="color: black;" href="{% url 'like_view' t.tweet.id %}">
                                    {% if t.user_has_liked %}
                                        <i style="color: red;" class="fa-solid fa-heart"></i>
                                    {% else %}
                                        <i class="fa-solid fa-heart"></i>
                                    {% endif %}
                                </a>
                                
                            </div>
                            <div class="react">
                                {% if t.tweet.get_total_retweets > 0 %}
                                    <p>{{ t.tweet.get_total_retweets }}</p>
                                {% endif %}

                                <a style="color: black;" href="{% url 'retweet_view' t.tweet.id %}">
                                    {% if t.user_has_retweeted %}
                                        <i style="color: green;" class="fa-solid fa-retweet"></i>
                                    {% else %}
                                        <i class="fa-solid fa-retweet"></i>
                                    {% endif %}
                                </a>

                            </div>
                        </div>
                        <p>{{ t.tweet.data|date:"H:i" }}</p>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p style="text-align: center;" >Não possui nenhum tweet!</p>
            {% endif %}


            <!-- Modal -->
            <div class="modal" id="myModal">
                <div class="modal-content">
                    <h1>Novo Tweet</h1>
                    <div class="close" onclick="closeModal()">x</div>
                    <form class="modal-body" action="{% url 'novo_tweet' %}" method="POST">
                        {% csrf_token %}
                        <textarea id="tweet" name="tweet" placeholder="O que você está pensando..."></textarea>
                        <button class="f-botao" type="submit">Postar</button>
                    </form>
                </div>
            </div>
            <!-- Fim Modal -->

        </div>

        <div class="footer-container">
            <h1>Quem Seguir?</h1>
        
            <div class="quem-seguir">
                {% for seguir in usuario.sugestoes_para_seguir %}
                    <div class="seguir">
                        <img src="{{ seguir.get_foto_perfil.url }}" alt="foto-perfil">
                        <div class="opc">
                            <a href="{% url 'perfil' seguir.user.username %}">@{{ seguir.user.username }}</a>
                            <a class="mb-botao" href="{% url 'seguir_view' id_seguir=seguir.id %}">Seguir</a>
                        </div>
                    </div>
                {% empty %}
                    <p>Não há sugestões no momento.</p>
                {% endfor %}
            </div>
        </div>
        

    </main>

    <script src="{% static 'scripts/home.js' %}"></script>
</body>
</html>