<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bem-te-vi</title>
    <link rel="stylesheet" href="login_senha.css">
</head>

<body>
    <div class="container__senha">
        
        <div class="container__header__senha">
            <div class="container__bemtevi__senha">
                <img height="45px" src="logo.png" alt="Logo bem-te-vi">
            </div>
        </div>

        <div class="container__center__senha">
            <div class="center__senha">
                <h3>Digite sua senha</h3>
                <div id='loginInput' class="loginInput__senha">
                    <input type="password" placeholder="password">
                </div>
                <div id='login-avancar-logar' class="loginButton__senha">
                    <p>Avançar</p>
                </div>

            </div>
        </div>
        
    </div>
</body>
<script>
    
</script>
</html>