{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@{{ data.username }} - bem te vi</title>
    <link rel="stylesheet" href="{% static 'styles/perfil.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" type="imagex/png" href="{% static 'assets/logo.png' %}">
</head>
<body>
    <header>
        <img src="{% static 'assets/logo.png' %}" alt="bem-te-vi">
    </header>

    <main>
        
        <div class="perfil-header">

            <div class="perfil">
                <div class="p-foto">
                    <img src="{{ data.foto.url }}" alt="foto de perfil">
                </div>
                <h3>{{ data.nome }} {{ data.sobrenome }}</h3>
                <div class="p-config">
                    <h5>@{{ data.username }}</h5>
                    {% if data.username_logado == data.username %}
                        <a class="link flex-row" href="#">
                            <span>Editar</span>
                            <i class="fa-solid fa-gears"></i>
                        </a>
                    {% else %}
                        <!-- Verifica se esta seguindo ou nao-->
                        {% if data.seguindo_ou_sim_nao %}
                        <a class="link flex-row" href="#">
                            <span>Seguindo</span>
                            <i class="fa-solid fa-check"></i>
                        </a>
                        {% else %}
                        <a class="link flex-row" href="#">
                            <span>Seguir</span>
                            <i class="fa-solid fa-user-plus"></i>
                        </a>
                        {% endif %}
                    {% endif %}
                </div>
                
                <div class="p-seguidores">
                    <p><strong>{{ data.seguindo }}</strong> Seguindo</p>
                    <p><strong>{{ data.seguidores }}</strong> Seguidores</p>
                </div>
            </div>
    
            <div class="links">
                <a class="link" href="{% url 'home' %}">Home</a>
                <a class="link" href="#">Retweets</a>
                <a class="link" href="#">Curtidas</a>
                <a class="link" href="{% url 'seguindo_view' data.username %}">Seguindo</a>
                <a class="link" href="{% url 'seguidores_view' data.username %}">Seguidores</a>
            </div>

        </div>



        <div class="tweets-container">

            {% if tweets %}
                {% for t in tweets %}
                <div class="tweet">
                    <div class="t-main">    
                        <div class="t-foto">
                            <img src="{{ t.tweet.usuario.foto_perfil.url }}" alt="">
                        </div>
                        <div class="t-conteudo">
                            <div class="t-header">
                                <a href="{% url 'perfil' t.tweet.user.username %}">@{{ t.tweet.user.username }}</a>
                                <p>{{ t.tweet.data|date:"d/m/Y" }}</p>
                            </div>
                            <div class="t-tweet">
                                <p>{{ t.tweet.tweet }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="t-footer">
                        <div class="t-react">
                            <div class="react">
                                {% if t.tweet.get_total_likes > 0 %}
                                    <p>{{ t.tweet.get_total_likes }}</p>
                                {% endif %}
                                <a style="color: black;" href="{% url 'like_view' t.tweet.id %}">
                                    {% if t.user_has_liked %}
                                        <i style="color: red;" class="fa-solid fa-heart"></i>
                                    {% else %}
                                        <i class="fa-solid fa-heart"></i>
                                    {% endif %}
                                </a>
                                
                            </div>
                            <div class="react">
                                {% if t.tweet.get_total_retweets > 0 %}
                                    <p>{{ t.tweet.get_total_retweets }}</p>
                                {% endif %}

                                <a style="color: black;" href="{% url 'retweet_view' t.tweet.id %}">
                                    {% if t.user_has_retweeted %}
                                        <i style="color: green;" class="fa-solid fa-retweet"></i>
                                    {% else %}
                                        <i class="fa-solid fa-retweet"></i>
                                    {% endif %}
                                </a>

                            </div>
                        </div>
                        <p>{{ t.tweet.data|date:"H:i" }}</p>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p style="text-align: center;" >Não possui nenhum tweet!</p>
            {% endif %}


        </div>

    </main>

</body>
</html>