<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bem-te-vi</title>
    <link rel="stylesheet" href="register.css">
</head>

<body>
    <main class="container">
        
        <div class="container__header">
            <div class="container__bemtevi">
                <img height="45px" src="logo.png" alt="Logo bem-te-vi">
            </div>
        </div>

        <div class="container__center">
            <div class="center">

                <h3>Register in bem-te-vi</h3>

                <div id='loginInput' class="loginInput">
                    <input type="text" placeholder="name">
                </div>

                <div id='loginInput' class="loginInput">
                    <input type="text" placeholder="username">
                </div>

                <div id='loginInput' class="loginInput">
                    <input type="email" placeholder="email">
                </div>

                <div id='loginInput' class="loginInput">
                    <input type="password" placeholder="password">
                </div>

                <div id='passwordInput' class="loginInput">
                    <input type="password" placeholder="repeat your password">
                </div>

                <p class="Login__Mensagem">username invalido!</p>

                <button id='login-avancar' class="loginButton">
                    Sing in
                </button>

            </div>
        </div>
        
    </main>
</body>
<script></script>
</html>