* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    max-width: 1280px;
    margin: 0 auto;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.logo-main {
    padding: 20px;
    width: 30%;
    min-width: 200px;
}
form {
    width: 300px;
    border-radius: 12px;
    padding: 10px;
    background-color: #ffd42a85;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
form input, button {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid;
}
.link-login {
    text-decoration: none; 
    color: black;
}
button:hover {
    cursor: pointer;
    background-color: #fff;
}

main a {
    display: flex;
    justify-content: center;
}
.messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}