{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>bem-te-vi</title>
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
</head>

<body>

    <header>
        <img src="{% static 'assets/logo.png' %}" alt="fotodeperfil">

        <div class="header__links">
            <nav>
                <ul>
                    <li><a class="link" href="{% url 'login' %}">Sing in</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="main__header">
            {% comment %} <img src="{% static 'assets/logo.png'%}" alt="bem-te-vi.png"> {% endcomment %}
            <h1>bem-te-vi</h1>
        </div>
        {% comment %} <div class="container__insert__tweet">
            <div class="insert__tweet__input">
                <!-- <input id="new_tweet" type="text" placeholder="O que voce esta pensando..?"> -->
                <textarea id="new_tweet" rows="3" cols="50" placeholder="O que voce esta pensando..?"></textarea>
            </div>
            <div class="postar">
                <button id="button_postar" class="tweetButton" type="button">Postar</button>
            </div>
        </div> {% endcomment %}

        <div class="container__tweet">

            {% if tweets %}
                {% for tweet in tweets %}
                    <div class="tweet">
                        <div class="header__tweet">
                            <p class="user">@{{ tweet.user }}</p>
                            <p class="data">{{ tweet.data|date:"d/m/Y H:i" }}</p>
                            
                        </div>
                        <p class="conteudo">{{ tweet.tweet }}</p>
                    </div>
                {% endfor %}
            {% endif %}
            
        </div>

    </main>

</body>

</html>