{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>bem te vi</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header class="header-home">
        <div class="header-logo">
            <img src="{% static 'assets/logo.png' %}" alt="logo">
        </div>

        <div class="header-links">

            <a href="{% url 'login' %}" class="header-link">
                <i class="fa fa-user"></i>
                <p>Login</p>
            </a>
    
            <a href="#" class="header-link">
                <i class="fa fa-user-plus"></i>
                <p>Register</p>
            </a>

        </div>

    </header>

    <main class="main-home">
        <hr>
        <div class="tweet">
            <div class="tweet-header">
                <p>@usuarioAdmin</p>
                <p>10/01/2024</p>
            </div>
            <div class="tweet-main">
                <div class="foto-main"><img src="{% static 'assets/perfil_padrao.jpg' %}" alt="foto"></div>
                <div class="tweet-text">
                    <p>&ensp;Lorem ipsum dolor sit am Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum officiis labore architecto nobis laudantium placeat odio quas qui rem praesentium molestias nam accusamus vero, totam, at recusandae, esse adipisci porro? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium fugit sapiente quisquam quo laboriosam vero ex assumenda, pariatur ipsam, excepturi distinctio incidunt doloremque officia aut nulla. Minima, dolor quos. Harum quam nam alias iste amet. Velit quidem et repellendus atque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolores assumenda incidunt quae corrupti tenetur amet? Distinctio, veniam impedit vel perspiciatis unde, quaerat velit enim molestiae beatae ipsam ullam aperiam sequi perferendis in, voluptatum quis? Repudiandae ad molestias enim autem.</p>
                </div>
            </div>
            <div class="tweet-footer">
                <div class="interacao">
                    <i class="fa fa-heart" style="color: red;"></i>                       
                    <i class="fa fa-retweet" style="color: green;"></i>
                    <i class="fa fa-comment"></i>
                </div>         
                <p>09:15</p>
            </div>
            <hr>
        </div>

    </main>

</body>
</html>