{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bem te vi</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
<body>

    <main>
        <a href="{% url 'home' %}">
            <img class="logo-main" src="{% static 'assets/logo.png' %}" alt="bem-te-vi">
        </a>

        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <h2>Login</h2>
            <input type="text" placeholder="username">
            <input type="password" placeholder="password">
            <button type="submit">Login</button>
            <a class="link-login" href="#">forget password</a>
            {% messages %}
        </form>
        <a class="link-login" href="{% url 'register' %}">register</a>
    </main>

</body>
</html>