{%load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bem-te-vi</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>

<body>
    <main class="container">
        
        <div class="container__header">
            <div class="container__bemtevi">
                <img height="45px" src="{% static 'assets/logo.png' %}" alt="Logo bem-te-vi">
            </div>
        </div>

        <div class="container__center">

            <form class="center" method="POST" action="{% url 'login' %}"> 
                {% csrf_token %}
                <h3>Entrar no bem-te-vi</h3>

                <div id='loginInput' class="loginInput">
                    <input name="username" type="text" placeholder="username">
                </div>

                <div id='passwordInput' class="loginInput">
                    <input name="password" type="password" placeholder="password">
                </div>

                <button id='login-com-google' class="loginButton">
                    <img src="{% static 'assets/icon_google.png' %}" alt="Google icon">
                    Fazer Login com Google
                </button>

                {% if errors %}
                    <p class="Login__Mensagem"></p>
                {% endif %}

                <button id='login-avancar' class="loginButton" type="submit">
                    Avançar
                </button>

                <a class="loginButton" href="{% url 'reset_password' %}">
                    <button id='login-esqueceu-senha'>
                        Esqueceu a senha?
                    </button>
                </a>


                <p class="naoTemConta">Não tem uma conta?<a href="{% url 'register' %}"> Inscreva-se</a></p>

            </form>

        </div>
        
    </main>
</body>
</html>