{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bem te vi</title>
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
</head>
<body>
    <div class="container">
        <div class="cont-logo">
            <div class="img-logo">
                <img src="{% static 'assets/logo.png' %}" alt="">
            </div>
        </div>
        <h1 style="text-align: center;">REGISTRO</h1>
        <div class="cont-form">
            <div class="form-img">
                <div id="img-preview" class="img-preview">
                    <img src="{% static 'assets/perfil_padrao.jpg' %}" alt="">
                </div>
                <label for="foto_perfil" class="button">Foto de Perfil</label>
            </div>
            <div class="form-inputs">
                <form class="form" method="POST" action="{% url 'register' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" id="username" name="username" placeholder="username" required>
                    <input type="file" id="foto_perfil" name="foto_perfil" accept="image/*" onchange="previewImage(event)" style="display:none;"/>    
                    <input type="email" id="email" name="email" placeholder="email"  required>
                    <input type="password" id="password1" name="password1" placeholder="password"  required>
                    <input type="password" id="password2" name="password2" placeholder="repeat password"  required>                
                    <input type="text" id="name" name="name" placeholder="name" required>
                    <input type="text" id="lastname" name="lastname" placeholder="lastname" required>
                    <div>
                        <p style="font-size: 12px;">birthday</p>
                        <input type="date" id="data_nascimento" name="data_nascimento" placeholder="birthday" required>    
                    </div>
                    {% if messages %}
                        <div class="messages">
                            {% for msg in messages %}    
                                <p>{{ msg.tags }} - {{ msg }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <button class="button" type="submit">Registrar</button>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'scripts/register.js' %}"></script>
</body>
</html>